<div class="w-100 m-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger w-100" id="navbar">
    <div class="img">

    </div>
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex w-100 m-auto">
        <li class="nav-item">
          <select class="form-select selectLojas" aria-label="Default select example" id="selectLojas"></select>
        </li>
        <li class="nav-item">
          <button id="openCreateModalBtn" class="btn btn-success" type="button">Adicionar Lojas</button>
        </li>
        <li class="nav-item">
          <button id="openDeleteModalBtn" class="btn btn-warning" type="button">Excluir Lojas</button>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-md-inline">Email:</span> Ibuprofeno600@hotmail.com
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Informações Pessoais</a>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<p>Works</p>
